@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Kanit&display=swap');

// Resets
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// Variables
$header-font: 'Bungee Shade', cursive;
$body-font: 'Kanit', sans-serif;
$shadow: 2px 1px 20px #999;
