.card-container {
	margin-block-start: 3rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 3rem;
}
.card {
	width: min-content;
	box-shadow: $shadow;
	border-radius: 1rem;

	&:hover {
		transform: scale(1.02);
	}

	a {
		text-decoration: none;
	}

	h2 {
		color: #fff;
		padding: 1rem;
		font-family: $body-font;
		letter-spacing: 0.25rem;
	}
	img {
		height: 30rem;
	}
	p {
		color: #c0d1e0;
		padding: 1rem;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}
}

.card-top {
	display: flex;
	align-items: center;

	h2 {
		flex-grow: 1;
	}

	button {
		border-radius: 0.5rem;
		border: none;
		margin: 1rem;
		background-color: rgb(197, 70, 70);
		color: #fff;
		padding: 0.5rem;
		cursor: pointer;
	}
}
