nav {
	display: flex;

	h1 {
		flex-grow: 1;
	}

	li,
	button {
		list-style: none;
		margin: 1rem;
		font-size: 2rem;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
			'Lucida Sans', Arial, sans-serif;
		background-color: #ccc;
		padding: 0.5rem;
		border-radius: 1rem;
		cursor: pointer;

		a {
			text-decoration: none;
		}
	}
}
